header{
position: absolute;
width: 2000px;
height: 231px;
left: 0px;
top: 0px;

background: #9BFAB0;
}


/* Rogelio Villaverde Campos */
span{

position: absolute;
width: 673px;
height: 161px;
left: 389px;
top: 17px;

font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: 48px;
line-height: 58px;
display: flex;
align-items: center;
text-align: center;

color: #000000;
}


/* Ellipse 1 */

.logo{

box-sizing: border-box;

position: absolute;
width: 169px;
height: 161px;
left: 56px;
top: 32px;

border: 1px solid #000000;


/* Logo */

position: absolute;
width: 169px;
height: 161px;
left: 56px;
top: 31px;

background: url(_4613889c-c31f-40f3-be1d-8c5b8c98442f_cropped);
}


/* Shopcart */
.carrito{

position: absolute;
width: 31px;
height: 31px;
left: 1388px;
top: 84px;

background: url(60992.png);
}
/* Buscador */
.buscador{

position: absolute;
width: 171px;
height: 35px;
left: 1246px;
top: 81px;

font-family: 'Inter';
font-style: normal;
font-weight: 200;
font-size: 12px;
line-height: 15px;
display: flex;
align-items: center;

color: #000000;
}


