h1,
h2,
h3,
h4,
a {
	@include tipografiaTitulos();
}

.detalles_main {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background-color: #ece9e9;

    .product-details {
        display: flex;
      }
      
      .product-image {
        position: relative;
        margin-left: 380px;
      }
      
      .product-image img {
        max-width: 100%;
        height: auto;
        border-radius: 8px;
      }
      
      .actions {
        position: relative;
        margin-left: 280px;
        display: flex;
        gap: 10px;

        .like-button,
        .bookmark-button {
            background-color: #fff;
            border: 1px solid #ccc;
            border-radius: 50%;
            padding: 8px;
            
            cursor: pointer;
        }

        .like-button:hover {
          background-color: #fc4b4b;
        }

        .bookmark-button:hover {
          background-color: #c4c0c0;
        }
      }
      
      .product-info {
        padding: 0 20px;


        .product-info h1 {
            font-size: 24px;
          }
          
          .description {
            margin-bottom: 50px;
          }
          
          .related-products img {
            min-width: 90px;
            max-width: 100px;
            height: 100px;
            margin: 0 3px ;
            border-radius: 25%;
          }

          .related-products img:hover {
            opacity: 0.7;
            cursor: pointer;
            transform: scale(1.1);
          }
          
          .related-products ul {
            list-style: none;
            padding: 0;
          }
          
          .related-products li {
            margin-bottom: 8px;
          }
      }
      
      .cart {
        width: 300px;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 20px;

        left: 0;
          
          .cart-items {
            list-style: none;
            padding: 0;
          }
          
          .cart-items li {
            margin-bottom: 10px;
            height: 20vh;
          }
          
          .cart-total {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
          }
          
          .cart-buttons {
            text-align: center;
          }
          
          .buy-button,
          .cancel-button {
            padding: 10px;
            margin-right: 10px;
            background-color: #4caf50;
            color: #fff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
          }
          
          .cancel-button {
            background-color: #e74c3c;
          }
          
          .buy-button:hover {
            background-color: #45a049;
          }

          .cancel-button:hover {
            background-color: #c43c35;
          }
      }
      
}

@media screen and (max-width: 768px) {

.detalles_main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;

    .product-details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      
      .product-image {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        margin-right: 40vw;
      }
      
      .product-image img {
        max-width: 100%;
        height: auto;
        border-radius: 8px;

      }
      
      .actions {
        display: flex;
        margin-left: 280px;
        display: flex;
        gap: 10px;

        .like-button,
        .bookmark-button {
            background-color: #fff;
            border: 1px solid #ccc;
            border-radius: 50%;
            padding: 8px;
            cursor: pointer;
        }

        .like-button:hover {
          background-color: #fc4b4b;
        }

        .bookmark-button:hover {
          background-color: #c4c0c0;
        }
      }
      
      .product-info {
        padding: 0 20px;

        .product-info h1 {
            font-size: 24px;
          }
          
          .description {
            margin-bottom: 20px;
          }
          
          .related-products img {
            max-width: 50px;
            height: 75px;
            margin-bottom: 10px;
            border-radius: 25%;
          }

          .related-products img:hover {
            opacity: 0.7;
            cursor: pointer;
            transform: scale(1.1);
          }
          
          .related-products ul {
            list-style: none;
            padding: 0;
          }
          
          .related-products li {
            margin-bottom: 8px;
          }
      }
      
      .cart {
        display: none;
      }
      
}
}