header {
    width: 100%;
    height: 14.44rem;
    background: #9BFAB0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 2rem;

    font-size: 3rem;

    .logo-container {
        .logo {
            width: 8rem;
            height: 8rem;
            border-radius: 50%;
        }
    }

    .text-container {
        span {
            @include tipografiaTitulos();
            font-weight: 900;
            color: #000000;
            margin: 0 auto;
        }
    }

    .icons-container {
        .buscador {
            width: 12rem;
            height: 2.5rem;
            @include tipografiaTitulos();
            font-weight: 200;
            font-size: 0.75rem;
            border-radius: 1.25rem;
            margin-right: auto;
        }

        .carrito {
            width: 2rem;
            height: 2rem;
            margin-right: 0;
        }
    }

    @media screen and (max-width: 768px) {
        .text-container {
            span {
                font-size: 1.5rem;
            }
        }

        .logo-container {
            .logo {
                width: 6rem;
                height: 6rem;
            }
        }
    }
}
