<link rel="stylesheet" href="./assets/styles/scss/main.scss">
  <div class="footer__seccion1">
    <div><b>Rogelio Villaverde Campos</b></div>
    <div><b>633 56 88 39</b></div>
    <div><b><a href="#">Rogeciclaje@gmail.com</a></b></div>
  </div>
  
  <div class="footer__seccion2">
    <img src="./assets/images/logo_x.jpg">
    <img src="./assets/images/logo_f.jpg">
    <img src="./assets/images/logo_tktk.png">
    <img src="./assets/images/logo_ig.webp">
<div class="footer__seccion2-imagenBaja">
  </div>
  </div>
  
  <div class="footer__seccion3">
    <ul>
      <li><b><a href="#">Atención al cliente</a></b></li>
      <li><b><a href="#">Acuerdo de servicios de transacción para consumidores fuera de la UE/Reino Unido</a></b></li>
      <li><b><a href="#">Términos y condiciones para consumidores de la UE/EEE/RU (Transacciones)</a></b></li>
      <li><b><a href="#">Encuesta de satisfacción</a></b></li>
      <li><b><a href="#">¿Necesitas ayuda?</a></b></li>
    </ul>


  </div>