footer {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background-color: #9BFAB0;
    color: #fff;
    padding: 20px;
    justify-content: center;
    height: 206px;
    width: 2000px;
    position: absolute;
    bottom: 0px;
  }

  .footer__seccion1 {
    padding: 10px;
    grid-column: 1/5;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: black;
    a{
        text-decoration: none;
        color: black;
          }
  }
  .footer__seccion2 {
    padding: 10px;
    grid-column: 5/9;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: black;

    img{
        height: 41px;
        width: 41px;
    }
    
  }
  .footer__seccion3 {
    padding: 10px;
    grid-column: 9/13;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: black;
    a{
    text-decoration: none;
    color: black;
      }
      }